@font-face {
    font-family: poppins;
    src: url(font/Poppins-Medium.ttf);
  }

html, body{
    height: 100%;
    width: 100%;
    background: #EDEEF2;
    font-family: 'Poppins', sans-serif;

}

h1{
    font-size: 75px;
    line-height: 120.4px;
    font-weight: 600;
    color: #4B4B5A;
}

h2{
    font-size: 60px;
    line-height: 89px;
    font-weight: 600;
    color: #4B4B5A;
}

h3{
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 600;
    color: #4B4B5A;
}

p{
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
    color: #4B4B5A;
}

.container-fluid {
    margin:0 auto;
}

.row {
    line-height:24pt;
}

.row:nth-child(even) {
    background: #fff;
}


.navbar{
    margin-top: 82px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    background: #EDEEF2 !important;
}

.navbar-nav li:not(:last-child){
    margin-right: 70px;
}

.navbar .container img{
    width: 100%;
}

.navbar .container .w-100 .nav-item{
    padding-bottom: 20px;
}

.navbar .container .w-100 .nav-item .btn{
    width: 200px;
    border: 3px solid #9797DE;
    border-radius: 32px;
    color: #9797DE;
}

.navbar .container .w-100 .nav-item .btn:hover{
    background-color: #9797DE;
    border: 3px solid #9797DE;
    color: #fff;
}

.hero-banner .container .hero-banner-text .first-content{
    position: relative;
}

.hero-banner .container .hero-banner-text .img1 {
    position: absolute;
    width: 100%;
    top: 55px;
    left: 342px;
}

.hero-banner .container .hero-banner-text .img2 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 1200px;
}

.hero-banner .row .hero-banner-text h1{
    margin-top: 112px;
}

.hero-banner .row .hero-banner-text p{
    margin-top: 52px;
}

.hero-banner .row .hero-banner-text .btn-group .btn{
    margin-top: 36px;
    width: 200px;
    background-color: #9797DE;
    border: 3px solid #9797DE;
    border-radius: 32px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 30px;
}

.hero-banner .row .btn-group .btn{
    position: relative;
}

.hero-banner .row .btn-group .arrow{
    position: absolute;
    z-index: 1;
    bottom: 34px;
    right: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.hero-banner .row .img3{
    margin-top: 65px;
    width: 100%;
}

.hero-banner .row .social-icon{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-bottom: 3%;
}
.ourfeature {
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.ourfeature .container .row h2{
    padding-bottom: 5%;
}

.ourfeature .row .card{
    border: none;
    width: 100%;
    background-color: #fff;
    color: #c1bef5b3;
}

.ourfeature .row .card img{
    width: 20%;
    padding-bottom: 5%;
    margin: 0 auto;
}

.ourfeature .row .card .card-body .card-title{
    padding-bottom: 5%;
    
}

.ourfeature .row .card .card-body .card-text {
    width: 75%;
    margin: 0 auto;
    line-height: 32px;}

.whychooseus{
    background-color: #EDEEF2;
    margin-top: 5%;
    padding-bottom: 5%;
    
}

.whychooseus .container .row .whychooseus-img {
    padding-right: 100px;
}

.whychooseus .whychooseus-text h2, p{
    margin-bottom: 2%;
}

.whychooseus .whychooseus-text .btn{
    width: 200px;
    border: 3px solid #9797DE;
    border-radius: 32px;
    color: #9797DE;
}

.whychooseus .whychooseus-text .btn:hover{
    background-color: #9797DE;
    border: 3px solid #9797DE;
    color: #fff;
}

.mobilesection {
   background-color: #fff;
   }

.mobilesection .container{
    padding-bottom: 5%;
}

.mobilesection .container .row h3{
    padding-top: 2%;
    padding-bottom: 2%;
}



.mobilesection .mobilesection-text .case-1, .case-2{
    margin-top: 176px;
    margin-left: 100px;

}

.mobilesection .mobilesection-text .case-1{
    text-align: right;
    padding-right: 100px;
}

.mobilesection .mobilesection-text .case-2{
    text-align: left;
    padding-left: 100px;
}

.chooseyourplan{
    background-color: #EDEEF2;

}

.chooseyourplan .container{
padding-bottom: 100px;
}

/* .chooseyourplan .container{
    background-image: url("../img/utilities/BG_G.V.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    
} */


.chooseyourplan .container .row .cards{
    margin-right: 100px;
}
.chooseyourplan .container .row h2{
    margin-top: 89px;
    margin-bottom: 97px;
}

.chooseyourplan .container .row .card{
   position: relative;
    border: none;
    border-radius: 16px;
}

.chooseyourplan .container .row .card .card-img-top{
   text-align: center;
    width: 25%;
    margin: 0 auto;
    margin-top: 80px;
}

.chooseyourplan .container .row .card .card-img-top{
    text-align: center;
     width: 25%;
     margin: 0 auto;
     margin-top: 80px;
 }

 
 .chooseyourplan .container .row .card .top-btn{
    width: 200px;
    background-color: #9797DE;
    border: 3px solid #9797DE;
    border-radius: 32px;
    color: #fff;
    position: absolute;
    right: 127px;
    top: -20px;
    font-size: 24px;
    font-weight: bold;

 }

 .chooseyourplan .container .row .card .pricetag{
    position: absolute;
    width: 100px;
    top: -20px;
    right: 30px;
 }



.chooseyourplan .container .row .card .card-body h4{
    font-size: 30px;
    font-weight: 500;
       
 }

  .chooseyourplan .container .row .card .card-body .card-group{
   padding: 20px;
 }

 .chooseyourplan .container .row .card .card-body .card-group p{
     font-size: 14px;
     color: #06051AB3;
 }

 .chooseyourplan .container .row .card .card-body .card-group i{
     color: #8264FD;
     padding-right: 10px;
     padding-top: 10px;
     font-size: 16px;

 }

 .chooseyourplan .container .row .card .card-body h3{
    margin:30px 0 30px 0;
    
}

.chooseyourplan .container .row .card .card-body .btn{
    width: 200px;
    border: 3px solid #9797DE;
    border-radius: 32px;
    color: #9797DE;
    margin-bottom: 50px;
    
}

.chooseyourplan .container .row .card .card-body .btn:hover{
    background-color: #9797DE;
    border: 3px solid #9797DE;
    color: #fff;
}

.subscriber{
    background-color: #fff;
}

.subscriber .container .row img{
    width: 100%;
    
}

.container-fluid .row .mobile-text h2{
    padding-top: 100px;
}



.subscriber .container .row .icon .icontext{
    display: flex;    
}

.subscriber .container  .row .icon .icontext h2{
    color: #9797DE;  
    margin-right: 80px;
}

.subscriber .container  .row .icon .icontext  .icon-logo{
    display: flex;
    margin-top: 100px;
}

.subscriber .container  .row .icon .icontext  .icon-logo .android{
    padding-right: 30px;
}

.subscriber .container  .row .icon p{
    font-size: 51px;
    font-weight: 500;
}

.subscriber .container  .row .icon .fa-youtube{
    margin-top: 107px;
}

.subscriber .container  .row .icon .icontext img{
width: 20%;
}

.subscriber .container  .row .icon .icontext i{
    font-size: 51px;
    color: #9797DE;
}

.carousel{
    background: #fff;
}

.carousel .carousel-inner .carousel-item img{
}

.quote{
    background-color: #fff;
}

.quote .container{
    background-image: url("../img/utilities/quote\ icon.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-color: #fff;
}

.quote .row .container{
    padding: 0 100px 0 100px;
}



.downloadapp{
    background-color: #fff;
}

.downloadapp .container{
    padding-top: 100px;

}

.downloadapp .container .download-btn{
    display: flex;
}

.downloadapp .container .downloadapp-img img{
    width: 100%;
    margin-left: 261px;
}

.footercontent{
    background: #8C8BD3;
}

.footercontent .container .row{
    padding-top: 100px;
}

.footercontent .container .row p{
    color: #DFE6E9;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
}

.footercontent .container .row .right-text p{
    color: #DFE6E9;
    font-size: 40px;
    line-height: 60px;
    text-align: left;
    opacity: 1;
    margin-left: 50px;
}

.footercontent .container .row .form input::placeholder{
    background: #8C8BD3;
    color: #DFE6E9;   
    padding: 20px;
}

.footercontent .container .row .form .form-control{
    border: 1px solid #DFE6E9;
    width: 70%;
    padding: 10px 1px;
    margin-top: 30px;
    margin-bottom: 65px;

}

.footer{
    background: #9697DE;
    padding-bottom: 50px;
}

.footer .container .footer-left{
    display: flex;
}

.footer .container .footer-left .footer-logo img{
    width: 100%;
}

.footer .container .footer-left .footer-logo{
    margin: 50px;
}

.footer .container .footer-left .footer-contents .footer-text p{
    font-size: 18px;
    color: #DFE6E9;
    line-height: 24px;
    margin-top: 55px;
}

.footer .container .footer-left .footer-contents .footer-link a{
    color: #DFE6E9;
    margin-right: 40px;

}

.footer .container .footer-social-icon{
    display: flex;
    text-align: right;
    color: #DFE6E9;
    justify-content: space-evenly;
    margin-top: 70px;
    font-size: 24px;
}





































